body {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Asap', Barlow;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    text-align: center;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #ffffff; 
    margin-bottom: 5px; 
}
h2 {
    font-family: 'Asap';
    font-size: 24px;
    color: #D55609;
    padding-bottom: 0;

}
h2:hover { 
    color: #D28F15;
}
p {
    display: flex;
    width: auto;
    margin: 10px;
    text-align: center;
}

.imagem-perfil {
    width: 150px;
    height: auto;
    border-radius: 50%;
    outline: 3px solid #D55609; 
    outline-offset: 8px;
    transition: outline 0.3s ease;
}
.imagem-perfil:hover {
    outline: 3px solid #D28F15;
}

.DivLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links {
    background-color: #D55609; 
    color: #fff;
    border: none; 
    border-radius: 25px; 
    padding: 10px 20px; 
    margin: 5px;
    font-size: 16px; 
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease; 
    width: 200px; 
    text-align: center;
}

.links:hover {
    background-color: #D28F15;
    transform: scale(1.05);
}

.rodape {
    background-color: #fff; 
    display: flex;
    justify-content: center;
    width: 160px;
    align-items: center; 
    border: none; 
    border-radius: 25px; 
    padding: 10px 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease;  
    text-align: center;
}

.images {
    display: flex;
    gap: 20px;
}

.images img {
    width: 20px; 
    height: 20px;
}

.perfil {
    display: block;
    margin: 0 auto;
}

.perfil img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

.copy {
    margin-top: 50px;
}

.sobre {
    max-width: 500px;
}
